allow platform_app sysfs_fpsinfo:file { getattr open read };
allow platform_app sysfs_graphics:dir search;
allow platform_app default_android_hwservice:hwservice_manager find;
